/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* This file will hold styles that are loaded using the same media query as the narrow grid. */
body, #section-content, #section-header, #zone-branding-wrapper {
  /* background-image: url('./images/orange-background.png'); */
  /* background-repeat: repeat-y; */
}

.logo-img { 
  display: inline; 
  padding-right: 40px;
}
.pul-logo-link {
  padding-top: 3px;
}
#superfish-3 { line-height: .5; }
#superfish-3 { display: inline; }
#superfish-3 a {
 text-decoration: none; 
 font-size: 80%; 
}


.field-label-inline .field-label {
  clear: left;
  float: left;
  width: 20%;
  text-alight: right;
}

.field-label-inline .field-items {
  width: 70%;
}

.field-name-field-translation-notes .field-items {
  white-space: wrap;
  padding: 0;
}

.field-name-field-translation-notes .field-items .field-item {
  padding: 0;
}

.field-name-field-translation-notes p {
  diplay: inline;
  padding: 0;
  margin: 0;
  border: 0;
}
